@{
  ViewData["Title"] = "داشبورد تامین مالی ";
}

@section VendorStyles{
  <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}

@section VendorScripts{
  <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
  <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
  <script src="~/vendor/libs/datatables-bs5/i18n/fa.js"></script>
}

@section PageStyles{
	<link rel="stylesheet" href="~/vendor/css/pages/app-kpi.css" />
}

@section PageScripts {
	<script src="~/js/app-kpi.js"></script>
}


<!-- Card Border Shadow -->
<div class="row" id="your-container-id">

</div>

<!--/ Card Border Shadow -->
<div class="row">
  <!-- Earning Reports Tabs-->
  <div class="col-6 col-md-6 mb-4  order-xxl-0">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<div class="card-title mb-0">
					<h5 class="mb-0"> تعداد سرمایه گذاری براساس سال </h5>
					<small class="text-muted">بررسی مختصر سالانه</small>
				</div>
			</div>
			<div class="card-body">
				<ul class="nav nav-tabs widget-nav-tabs pb-3 gap-4 mx-1 d-flex flex-nowrap" role="tablist">
					<li class="nav-item">
						<a aria-controls="navs-income-id" aria-selected="true" class="nav-link btn active d-flex flex-column align-items-center justify-content-center" data-bs-target="#navs-income-id" data-bs-toggle="tab" href="javascript:void(0);" role="tab">
							<div class="badge bg-label-secondary rounded p-2">
								<i class="ti ti-chart-pie-2 ti-sm"></i>
							</div>
							<h6 class="tab-widget-title mb-0 mt-2">1403</h6>
						</a>
					</li>
					<li class="nav-item">
						<a aria-controls="navs-profit-id" aria-selected="false" class="nav-link btn d-flex flex-column align-items-center justify-content-center" data-bs-target="#navs-profit-id" data-bs-toggle="tab" href="javascript:void(0);" role="tab">
							<div class="badge bg-label-secondary rounded p-2">
								<i class="ti ti-currency-dollar ti-sm"></i>
							</div>
							<h6 class="tab-widget-title mb-0 mt-2">1402</h6>
						</a>
					</li>
					<li class="nav-item">
						<a aria-controls="navs-sales-id" aria-selected="false" class="nav-link btn d-flex flex-column align-items-center justify-content-center" data-bs-target="#navs-sales-id" data-bs-toggle="tab" href="javascript:void(0);" role="tab">
							<div class="badge bg-label-secondary rounded p-2">
								<i class="ti ti-chart-bar ti-sm"></i>
							</div>
							<h6 class="tab-widget-title mb-0 mt-2">1401</h6>
						</a>
					</li>
					<li class="nav-item">
						<a aria-controls="navs-orders-id" aria-selected="false" class="nav-link btn  d-flex flex-column align-items-center justify-content-center" data-bs-target="#navs-orders-id" data-bs-toggle="tab" href="javascript:void(0);" role="tab">
							<div class="badge bg-label-secondary rounded p-2">
								<i class="ti ti-shopping-cart ti-sm"></i>
							</div>
							<h6 class="tab-widget-title mb-0 mt-2"> سال 1400</h6>
						</a>
					</li>
				</ul>
				<div class="tab-content p-0 ms-0 ms-sm-2">
					<div class="tab-pane fade  show active" id="navs-income-id" role="tabpanel">
						<div id="earningReportsTabsIncome"></div>
					</div>
					<div class="tab-pane fade" id="navs-profit-id" role="tabpanel">
						<div id="earningReportsTabsProfit"></div>
					</div>
					<div class="tab-pane fade" id="navs-sales-id" role="tabpanel">
						<div id="earningReportsTabsSales"></div>
					</div>
					<div class="tab-pane fade" id="navs-orders-id" role="tabpanel">
						<div id="earningReportsTabsOrders"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <!-- Shipment statistics-->
  <div class="col-6 col-md-6 mb-4 order-3 order-xxl-1">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <div class="card-title mb-0">
          <h5 class="m-0 me-2">آمار سرمایه گذاری طرحها</h5>
          <small class="text-muted">براساس ماه </small>
        </div>
        <div class="dropdown">
					<button aria-expanded="false" class="btn btn-label-primary dropdown-toggle disabled" data-bs-toggle="dropdown" type="button" disabled> سال 1403</button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="javascript:void(0);">سال 1395</a>
            </li>
            <li>
			  <a class="dropdown-item" href="javascript:void(0);">سال 1396</a>
            </li>
            <li>
			  <a class="dropdown-item" href="javascript:void(0);">سال 1397</a>
            </li>
            <li>
			  <a class="dropdown-item" href="javascript:void(0);">سال 1398</a>
            </li>
            <li>
			  <a class="dropdown-item" href="javascript:void(0);">سال 1399</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">سال 1400</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">سال 1401</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">سال 1402</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">سال 1403</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <div class="my-1" id="shipmentStatisticsChart"></div>
      </div>
    </div>
  </div>
</div>
<div id="project-status-container" class="row">
</div>

