@{
	ViewData["Title"] = "دیده بان تکنیکال";
}
@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
	<link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}
@section VendorScripts {
	<script src="~/vendor/libs/select2/select2.js"></script>
	<script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}
@section PageScripts {
	<script src="~/js/watch-technical.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script type="text/javascript" src="https://www.highcharts.com/samples/data/ohlc.js"></script>
}
<style>

	#candleStickChart1 {
		height: 400px;
		min-width: 600px;
	}
</style>
@* ************** Content ************** *@
<div class="row">
	<!-- Scatter Chart -->
	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-header d-flex justify-content-between align-items-center">
@* 				<h5 class="card-title mb-0">افزایش سرمایه یا تقسیم سود</h5> *@
				<div class="col-md-4">
@* 					<label class="form-label" for="select2Basic">پایه</label>
 *@					<select class="select2 form-select form-select-sm" data-allow-clear="true" id="select2Basic">

					</select>
				</div>
			</div>
			<div class="card-body">
				<div id="scatterChart"></div>
			</div>
		</div>
	</div>
	<!-- /Scatter Chart -->
	<!-- Candlestick Chart -->

	<div id="candleStickChart1"></div>

	<!-- /Candlestick Chart -->

@* 	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-header d-flex align-items-center justify-content-between">
				<div>
					<h5 class="card-title mb-1">نمودار ترید</h5>
				</div>
			</div>
			<div class="card-body">
				<div id="candleStickChart"></div>
			</div>
		</div>
	</div> *@


</div>
