@{
  TempData.Keep();
  string? currentPage =  ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
      <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Starter Kit menu-items *@
  <ul class="menu-inner py-1">

		<li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards")? " active open" : "")'>
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons ti ti-smart-home"></i>
				<div data-i18n="Dashboards">داشبورد‌ها</div>
				<div class="badge bg-primary rounded-pill ms-auto">5</div>
			</a>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Dashboards/CF" ? " active" : "")'>
					<a asp-controller="Dashboards" asp-action="CF" class="menu-link">
						<div data-i18n="CF">تامین مالی جمعی</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/Dashboards/Project" ? " active" : "")'>
					<a asp-controller="Dashboards" asp-action="Project" class="menu-link">
						<div data-i18n="Project">گزارشات پروژه ها</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/Dashboards/FinanceProvider" ? " active" : "")'>
					<a asp-controller="Dashboards" asp-action="FinanceProvider" class="menu-link">
						<div data-i18n="FinanceProvider">گزارشات سرمایه گذار ها</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/Dashboards/CF2" ? " active" : "")'>
					<a asp-controller="Dashboards" asp-action="CF2" class="menu-link">
						<div data-i18n="CF2">شاخصهای تامین مالی </div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/Dashboards/ProfileProjects" ? " active" : "")'>
					<a asp-controller="Dashboards" asp-action="ProfileProjects" class="menu-link">
						<div data-i18n="Projects">پروژه‌ها</div>
					</a>
				</li>
			</ul>
		</li>

		<li class="menu-header small text-uppercase">
			<span class="menu-header-text" data-i18n="Apps & Pages">برنامه‌ها </span>
		</li>

		<li class='menu-item@(currentPage.StartsWith("/Ai") ? " active open" : "")'>
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class='menu-icon tf-icons ti ti-files'></i>
				<div data-i18n="ai Pages">هوش مصنوعی</div>
			</a>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Ai/chat" ? " active" : "")'>
					<a asp-controller="Ai" asp-action="chat" class="menu-link" target="_blank">
						<div data-i18n="ai Center">چت بات پشتیبانی</div>
					</a>
				</li>
			</ul>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Ai/chatdb" ? " active" : "")'>
					<a asp-controller="Ai" asp-action="chatdb" class="menu-link" target="_blank">
						<i class="menu-icon tf-icons ti ti-database"></i>
						<div data-i18n="ai cf">چت با پایگاه داده</div>
					</a>
				</li>
			</ul>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Ai/MiscComingSoon" ? " active" : "")'>
					<a asp-controller="Ai" asp-action="DashboardAi" class="menu-link" target="_blank">
						<div data-i18n="dashboard ai">داشبورد هوشمند</div>
					</a>
				</li>
			</ul>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Board/Index" ? " active" : "")'>
					<a asp-controller="Board" asp-action="Index" class="menu-link" target="_blank">
						<div data-i18n="Monitoring of Board">نظارت بر تامین مالی</div>
					</a>
				</li>
			</ul>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Hamafarin/Index" ? " active" : "")'>
					<a asp-controller="Hamafarin" asp-action="Index" class="menu-link" target="_blank">
						<div data-i18n="Monitoring of Hamafarin">نظارت بر تامین مالی</div>
					</a>
				</li>
			</ul>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Pages/MiscComingSoon" ? " active" : "")'>
					<a asp-controller="Pages" asp-action="MiscComingSoon" class="menu-link" target="_blank">
						<div data-i18n="Monitoring of crowd">نظارت بر تامین مالی</div>
					</a>
				</li>
			</ul>
		</li>

		<li class='menu-item@(currentPage.StartsWith("/CFSecondaryMarket") ? " active open" : "")'>
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class='menu-icon tf-icons ti ti-calendar'></i>
				<div data-i18n="Secondary market">بازار ثانویه</div>
			</a>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Pages/MiscNotAuthorized" ? " active" : "")'>
					<a asp-controller="CFSecondaryMarket" asp-action="Order" class="menu-link">
						<div data-i18n="SecondaryMarket">سفارشات</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
					<a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link">
						<div data-i18n="SecondaryMarketSetting">تنظیمات</div>
					</a>
				</li>
			</ul>
		</li>

  </ul>

</aside>
<!-- / Menu -->
