@{
	ViewData["Title"] = "پیامرسان";
}

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css" />
	<link rel="stylesheet" href="~/vendor/libs/spinkit/spinkit.css" />

}

@section VendorScripts {
	<script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="~/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js"></script>
	<script src="~/vendor/libs/block-ui/block-ui.js"></script>

}

@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/app-chat.css">
}

@section PageScripts {
	<script src="~/js/app-chat-db.js"></script>
}

@* ************** Content ************** *@

<div class="app-chat card overflow-hidden" id="card-block">
	<div class="row g-0">
		<!-- Chat & Contacts -->
		<div class="col app-chat-contacts app-sidebar flex-grow-0 overflow-hidden border-end" id="app-chat-contacts">
			<div class="sidebar-header">
				<div class="d-flex align-items-center me-3 me-lg-0">
					<div class="flex-grow-1 input-group input-group-merge rounded-pill">
						<span class="input-group-text" id="basic-addon-search31">
							<i class="ti ti-search h-mirror"></i>
						</span>
						<input aria-describedby="basic-addon-search31" aria-label="جستجو..." class="form-control chat-search-input"
							   placeholder="جستجو..." type="text" />
					</div>
				</div>
				<i class="ti ti-x cursor-pointer d-lg-none d-block position-absolute mt-2 me-1 top-0 end-0"
				   data-bs-toggle="sidebar" data-overlay data-target="#app-chat-contacts"></i>
			</div>
			<hr class="container-m-nx m-0" />
			<div class="sidebar-body">
				<div class="chat-contact-list-item-title d-flex align-items-center">
					<h5 class="text-primary mb-0 px-4 pt-3 pb-2">سوابق</h5>
					<button id="delete-button" class="btn btn-danger btn-sm me-2">
						<i class="fas fa-trash"></i>
					</button>
				</div>
				<!-- Chats -->
				<ul class="list-unstyled chat-contact-list" id="chat-list">
					<li class="chat-contact-list-item chat-list-item-0 d-none">
						<h6 class="text-muted mb-0">هیچ گپی پیدا نشد</h6>
					</li>
				</ul>
			</div>
		</div>
		<!-- /Chat contacts -->
		<!-- Chat History -->
		<div class="col app-chat-history bg-body">
			<div class="chat-history-wrapper">
				<div class="chat-history-body bg-body">
					<ul class="list-unstyled chat-history">
						<li class="chat-message chat-message-right">
							<div class="d-flex overflow-hidden">
								<div class=" flex-grow-1">
									<div class="chat-message-text">
										<pre class="mb-0">سلام رفیق 👋 چطور می‌تونم کمکت کنم؟</pre>
									</div>
								</div>
							</div>
						</li>
						@* <li class="chat-message">
							<div class="d-flex overflow-hidden">
								<div class="chat-message-wrapper flex-grow-1">
									<div class="chat-message-text">
										<p class="mb-0">هی نـوید، یه قالب مدیریت حرفه‌ای می‌خوام یه قالب مدیریت حرفه‌ای می‌خوام یه قالب مدیریت حرفه‌ای می‌خوام یه قالب مدیریت حرفه‌ای می‌خوام یه قالب مدیریت حرفه‌ای می‌خوام یه قالب مدیریت حرفه‌ای می‌خوام یه قالب مدیریت حرفه‌ای می‌خوام.</p>
										<p class="mb-0">میشه یکی بهم معرفی کنی؟ 🤔</p>
									</div>
								</div>
							</div>
						</li> *@
					</ul>
				</div>
				<!-- Chat message form -->
				<div class="chat-history-footer shadow-sm">
					<form class="form-send-message d-flex justify-content-between align-items-center">
						<input class="form-control message-input border-0 me-3 shadow-none"
							   placeholder="پیام خود را اینجا تایپ کنید" id="message-input" />
						<div class="message-actions d-flex align-items-center">
@* 							<i class="speech-to-text ti ti-microphone ti-sm cursor-pointer"></i>
							<label class="form-label mb-0" for="attach-doc">
								<i class="ti ti-photo ti-sm cursor-pointer mx-3"></i>
								<input hidden id="attach-doc" type="file" />
							</label> *@
							<button class="btn btn-primary d-flex send-msg-btn btn-section-block-multiple">
								<span class="align-middle d-md-inline-block d-none">ارسال</span>
								<i class="ti ti-send ms-md-1 ms-0 ic-mirror"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Chat History -->
		<div class="app-overlay"></div>
	</div>
</div>
