@{
	ViewData["Title"] = "ูพุงูุฑุณุงู";
}

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css" />
	<link rel="stylesheet" href="~/vendor/libs/spinkit/spinkit.css" />

}

@section VendorScripts {
	<script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="~/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js"></script>
	<script src="~/vendor/libs/block-ui/block-ui.js"></script>

}

@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/app-chat.css">
}

@section PageScripts {
	<script src="~/js/app-chat-db.js"></script>
}

@* ************** Content ************** *@

<div class="app-chat card overflow-hidden" id="card-block">
	<div class="row g-0">
		<!-- Chat & Contacts -->
		<div class="col app-chat-contacts app-sidebar flex-grow-0 overflow-hidden border-end" id="app-chat-contacts">
			<div class="sidebar-header">
				<div class="d-flex align-items-center me-3 me-lg-0">
					<div class="flex-grow-1 input-group input-group-merge rounded-pill">
						<span class="input-group-text" id="basic-addon-search31">
							<i class="ti ti-search h-mirror"></i>
						</span>
						<input aria-describedby="basic-addon-search31" aria-label="ุฌุณุชุฌู..." class="form-control chat-search-input"
							   placeholder="ุฌุณุชุฌู..." type="text" />
					</div>
				</div>
				<i class="ti ti-x cursor-pointer d-lg-none d-block position-absolute mt-2 me-1 top-0 end-0"
				   data-bs-toggle="sidebar" data-overlay data-target="#app-chat-contacts"></i>
			</div>
			<hr class="container-m-nx m-0" />
			<div class="sidebar-body">
				<div class="chat-contact-list-item-title d-flex align-items-center mt-2 mb-0 px-4">
					<label class="form-label" for="form-repeater-1-3">ููููู </label>
					<select class="form-select" id="form-repeater-1-3" onchange="showAlert()">
						<option value="">ูุทูุง ุงูุชุฎุงุจ ฺฉูุฏ</option>
						<option value="ูุฌููุน ฺฉู ุณุฑูุงู ฺฏุฐุงุฑูุง">ูุฌููุน ฺฉู ุณุฑูุงู ฺฏุฐุงุฑูุง</option>
						<option value="ุจุดุชุฑู ูุจูุบ ุณุฑูุงู ฺฏุฐุงุฑ">ุจุดุชุฑู ูุจูุบ ุณุฑูุงู ฺฏุฐุงุฑ</option>
						<option value="ูุฌููุน ูุจูุบ ฺฉู ููุฑุฏ ูุงุฒ ุชุงูู ูุงู">ูุฌููุน ูุจูุบ ฺฉู ููุฑุฏ ูุงุฒ ุชุงูู ูุงู</option>
						<option value="ูุงูฺฏู ูุจูุบ ฺฉู ููุฑุฏ ูุงุฒ ุชุงูู ูุงู">ูุงูฺฏู ูุจูุบ ฺฉู ููุฑุฏ ูุงุฒ ุชุงูู ูุงู</option>
						<option value="ฺฉู ูุจูุบ ุฌูุน ุขูุฑ ุดุฏู">ฺฉู ูุจูุบ ุฌูุน ุขูุฑ ุดุฏู</option>
						<option value="ูุงูฺฏู ุฌูุน ุขูุฑ ุดุฏู ุญูู">ูุงูฺฏู ุฌูุน ุขูุฑ ุดุฏู ุญูู</option>
						<option value="ูุงูฺฏู ุฌูุน ุขูุฑ ุดุฏู ุญููู">ูุงูฺฏู ุฌูุน ุขูุฑ ุดุฏู ุญููู</option>
						<option value="ุชุนุฏุงุฏ ฺฉู ูุดุงุฑฺฉุชโฺฉููุฏฺฏุงู">ุชุนุฏุงุฏ ฺฉู ูุดุงุฑฺฉุชโฺฉููุฏฺฏุงู</option>
						<option value="ูุงูฺฏู ูุดุงุฑฺฉุช ฺฉููุฏูโฺฏุงู ุญูู">ูุงูฺฏู ูุดุงุฑฺฉุช ฺฉููุฏูโฺฏุงู ุญูู</option>
						<option value="ูุงูฺฏู ูุดุงุฑฺฉุช ฺฉููุฏูโฺฏุงู ุญููู">ูุงูฺฏู ูุดุงุฑฺฉุช ฺฉููุฏูโฺฏุงู ุญููู</option>
						<option value="ุชุนุฏุงุฏ ุทุฑุญ ูุง ุจุง ุชูุฌู ุจู ุงููุงุน ูุซุงู">ุชุนุฏุงุฏ ุทุฑุญ ูุง ุจุง ุชูุฌู ุจู ุงููุงุน ูุซุงู</option>
						<option value="ุชุนุฏุงุฏ ุทุฑุญ ูุง ุจุง ุชูุฌู ุจู ุงููุงุน ูุซุงู">ุชุนุฏุงุฏ ุทุฑุญ ูุง ุจุง ุชูุฌู ุจู ุงููุงุน ูุซุงู</option>
						<option value="ุชุนุฏุงุฏ ุทุฑุญูุง ุจุง ุชูุฌู ุจู ุงููุงุน ูุถุนุช">ุชุนุฏุงุฏ ุทุฑุญูุง ุจุง ุชูุฌู ุจู ุงููุงุน ูุถุนุช</option>
						<option value="ุชุนุฏุงุฏ ุทุฑุญ ูุง ุจุง ุชูุฌู ุจู ูุงู ุนุงูู">ุชุนุฏุงุฏ ุทุฑุญ ูุง ุจุง ุชูุฌู ุจู ูุงู ุนุงูู</option>
						<option value="ุชุนุฏุงุฏ ุทุฑุญ ูุง ุจุง ุชูุฌู ุจู ฺฏุฑูู ุตูุนุช">ุชุนุฏุงุฏ ุทุฑุญ ูุง ุจุง ุชูุฌู ุจู ฺฏุฑูู ุตูุนุช	</option>
						<option value="ูุฌููุน ฺฉุงุฑูุฒุฏ ูุฑุงุจูุฑุณ
">
							ูุฌููุน ฺฉุงุฑูุฒุฏ ูุฑุงุจูุฑุณ
						</option>
						<option value=""></option>

						

					</select>
				</div>
				<div class="chat-contact-list-item-title d-flex align-items-center">
					<h5 class="text-primary mb-0 px-4 pt-3 pb-2">ุณูุงุจู</h5>
					<button id="delete-button" class="btn btn-danger btn-sm me-2">
						<i class="fas fa-trash"></i>
					</button>
				</div>
				<!-- Chats -->
				<ul class="list-unstyled chat-contact-list" id="chat-list">
					<li class="chat-contact-list-item chat-list-item-0 d-none">
						<h6 class="text-muted mb-0">ูฺ ฺฏูพ ูพุฏุง ูุดุฏ</h6>
					</li>
				</ul>
			</div>
		</div>
		<!-- /Chat contacts -->
		<!-- Chat History -->
		<div class="col app-chat-history bg-body">
			<div class="chat-history-wrapper">
				<div class="chat-history-body bg-body">
					<ul class="list-unstyled chat-history">
						<li class="chat-message chat-message-right">
							<div class="d-flex overflow-hidden">
								<div class=" flex-grow-1">
									<div class="chat-message-text">
										<pre class="mb-0">ุณูุงู ุฑูู ๐ ฺุทูุฑ ูโุชููู ฺฉูฺฉุช ฺฉููุ</pre>
									</div>
								</div>
							</div>
						</li>
						@* <li class="chat-message">
							<div class="d-flex overflow-hidden">
								<div class="chat-message-wrapper flex-grow-1">
									<div class="chat-message-text">
										<p class="mb-0">ู ูููุฏุ ู ูุงูุจ ูุฏุฑุช ุญุฑููโุง ูโุฎูุงู ู ูุงูุจ ูุฏุฑุช ุญุฑููโุง ูโุฎูุงู ู ูุงูุจ ูุฏุฑุช ุญุฑููโุง ูโุฎูุงู ู ูุงูุจ ูุฏุฑุช ุญุฑููโุง ูโุฎูุงู ู ูุงูุจ ูุฏุฑุช ุญุฑููโุง ูโุฎูุงู ู ูุงูุจ ูุฏุฑุช ุญุฑููโุง ูโุฎูุงู ู ูุงูุจ ูุฏุฑุช ุญุฑููโุง ูโุฎูุงู.</p>
										<p class="mb-0">ูุดู ฺฉ ุจูู ูุนุฑู ฺฉูุ ๐ค</p>
									</div>
								</div>
							</div>
						</li> *@
					</ul>
				</div>
				<!-- Chat message form -->
				<div class="chat-history-footer shadow-sm">
					<form class="form-send-message d-flex justify-content-between align-items-center">
						<input class="form-control message-input border-0 me-3 shadow-none"
							   placeholder="ูพุงู ุฎูุฏ ุฑุง ุงูุฌุง ุชุงูพ ฺฉูุฏ" id="message-input" />
						<div class="message-actions d-flex align-items-center">
@* 							<i class="speech-to-text ti ti-microphone ti-sm cursor-pointer"></i>
							<label class="form-label mb-0" for="attach-doc">
								<i class="ti ti-photo ti-sm cursor-pointer mx-3"></i>
								<input hidden id="attach-doc" type="file" />
							</label> *@
							<button class="btn btn-primary d-flex send-msg-btn btn-section-block-multiple">
								<span class="align-middle d-md-inline-block d-none">ุงุฑุณุงู</span>
								<i class="ti ti-send ms-md-1 ms-0 ic-mirror"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Chat History -->
		<div class="app-overlay"></div>
	</div>
</div>
<script>
	function showAlert() {
		var selectElement = document.getElementById("form-repeater-1-3");
		var selectedValue = selectElement.value;
		 var messageInput = document.getElementById("message-input");

		if (selectedValue) {
			messageInput.value = selectedValue; // ููุฏุงุฑ ุงูุชุฎุงุจ ุดุฏู ุฑุง ุฏุฑ ููุฏ ูุฑูุฏ ูุฑุงุฑ ูโุฏูุฏ
		} else {
			messageInput.value = ""; // ุงฺฏุฑ ูฺ ฺฏุฒููโุง ุงูุชุฎุงุจ ูุดุฏู ุจุงุดุฏุ ููุฏ ูุฑูุฏ ุฎุงู ูโุดูุฏ
		}
	}
</script>
