@{
	ViewData["Title"] = "داشبورد - تامین مالی جمعی";
}

@section VendorStyles {

	<link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
	<link rel="stylesheet" href="~/vendor/libs/swiper/swiper.css" />
	<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
	<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
	<link rel="stylesheet" href="~/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css">
}

@section VendorScripts {
	<script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
	<script src="~/vendor/libs/swiper/swiper.js"></script>
	<script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
	<script src="~/vendor/libs/datatables-bs5/i18n/fa.js"></script>
}

@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/cards-advance.css" />
}

@section PageScripts {
	<script src="~/js/dashboards-analytics.js"></script>
	<script src="~/js/dashboards-crm.js"></script>
	<script src="~/js/app-chat-ai.js"></script>

}

@* ************** Content ************** *@

<div class="row" id="exampleRow">
	<!-- Total Funds Raised Last Year -->
	<div class="col-6 col-xl-6 mb-4">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<div class="card-title mb-0">
					<h5 class="mb-0">گزارش سرمایه گذاری براساس سال </h5>
					<small class="text-muted">بررسی مختصر درآمد سالانه</small>
				</div>
				<div class="dropdown">
					<button aria-expanded="false" aria-haspopup="true" class="btn p-0" data-bs-toggle="dropdown" id="earningReportsTabsId" type="button">
						<i class="ti ti-dots-vertical ti-sm text-muted"></i>
					</button>
					<div aria-labelledby="earningReportsTabsId" class="dropdown-menu dropdown-menu-end">
						<a class="dropdown-item" href="javascript:void(0);">موارد بیشتر</a>
						<a class="dropdown-item" href="javascript:void(0);">حذف</a>
					</div>
				</div>
			</div>
			<div class="card-body">
					<div id="earningReportsTabsSales"></div>
			</div>
		</div>
	</div>
	<!--/ Projects table -->
</div>
